* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.img {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 100%;
  height: 50%;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

form {
  max-width: 80%;
  height: inherit;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  flex-direction: column;
}

.side {
  display: inherit;
  flex-direction: inherit;
  gap: 26px;
}
  h2 {
    font-weight: bold;
    font-size: 50px;
  }

  .botao>button {
    color: #fff;
    background: #4007dd;
    padding: 0.700rem 40px;
    border-radius: 14px;
    font-size: 16px;
  }


.bottom-side .others {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 13px;
  width: 10vw;
}

button {
  color: #fff;
  padding: 0.500rem 40px;
  border-radius: 12px;
}

.botao-others {
  width: inherit;
}

&:nth-of-type(1) button {
  width: inherit;
  background: #3f51b5;
}

&:nth-of-type(2) button {
  width: inherit;
  background: #64b5f6;
}

&:nth-of-type(3) button {
  width: inherit;
  background: red;
}