<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <div class="img">
          <img src="../../assets/balao.jpg.jpg" alt="Balão">
        </div>
      </ion-col>
      <ion-col size="6">
        <div class="form">
          <form>
            <div class="side">
              <div class="tittle">
                <h2>Criar Conta</h2>
              </div>
              <div class="content">
                <ion-item>
                  <ion-label>Nome</ion-label>
                  <ion-input></ion-input>
                </ion-item>

                <ion-item>
                  <ion-label>E-mail</ion-label>
                  <ion-input></ion-input>
                </ion-item>

                <ion-item>
                  <ion-label>Senha</ion-label>
                  <ion-input placeholder="*****"></ion-input>
                </ion-item>

                <ion-item>
                  <ion-label>Confirmar Senha</ion-label>
                  <ion-input placeholder="*****"></ion-input>
                </ion-item>
              </div>
              <div class="botao">
                <button>Criar Conta</button>
              </div>
            </div>
            <div class="bottom-side">
              <div class="others">
                <p>Login com</p>
                <div class="botao-others">
                  <button>facebook</button>
                </div>
                <div class="botao-others">
                  <button>twitter</button>
                </div>
                <div class="botao-others">
                  <button>google</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>